body { 
    background: url("../images/abstract.jpg");
}

.jumbotron, .card, .tittle-game {
    background-size:cover;
    background-color: rgba(25,25,25, 0.5);
  color: inherit;
}

.card-body, h1,h2,h3,p{
    font-weight: bold;
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;
}


@-webkit-keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }

    to {
      -webkit-filter: hue-rotate(360deg);
    }
}